<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Further analysis of Boston housing data

---

In this lab you will practise further data analysis using Python.

Reminder of the [source and data dictionary of the Boston housing data](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html)

In [14]:
import pandas as pd
boston_cols = ['crime_rate','lot_allocation','non_retail_business','bounds_river','nox_conc','rooms','pre_1940','emp_centre_dist','rad_highways','tax_rate','pupil_ratio','blacks','lower_status','home_value'] 
df = pd.read_csv("../assets/datasets/boston_housing_data.csv", header=0, names=boston_cols)
df.head()

,crime_rate,lot_allocation,non_retail_business,bounds_river,nox_conc,rooms,pre_1940,emp_centre_dist,rad_highways,tax_rate,pupil_ratio,blacks,lower_status,home_value
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

2 - Is there a link between the amount of non-retail business and the amount of nitric oxide? How confident are you about your findings?

In [17]:
from scipy import stats
correlation, p_value = stats.pearsonr(df["non_retail_business"], df["nox_conc"])
print (correlation)

0.763651446920915

3 - What about average number of rooms per dwelling and crime rate?

In [18]:
from scipy import stats
correlation, p_value = stats.pearsonr(df["crime_rate"], df["rooms"])
print (correlation)

-0.19019730213043468

4 - What would you conclude based on these findings?

In [13]:
# The extremelly small number means it is almost certain these two variables are related

5 - Is there a significant difference between the crime rate near the river vs. away from it?

In [20]:
from scipy import stats
near_river = df["bounds_river"][df["bounds_river"] == 0]
far_away_river = df["bounds_river"][df["bounds_river"] == 1]
t_statistic, p_value = stats.ttest_ind(df["bounds_river"] == 0,df["bounds_river"])
p_value

bounds_river
0    1.70623
1    1.85167
Name: crime_rate, dtype: float64

In [22]:
df["bounds_river"][df["bounds_river"] == 0]

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    0
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    0
492    0
493    0
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    0
Name: bounds_river, Length: 471, dtype: int64